
{ pkgs, ... }: {
  channel = "stable-23.11";
  packages = [
    pkgs.docker
    pkgs.htop
  ];
  services = {
    docker = {
      enable = true;
    };
  };
  idx = {
    extensions = [];
    workspace = {
      onCreate = {
        default.openFiles = [
          "README.md"
        ];
        orph = ''
            sed -i "s/__WEB__HOST__/8006-$WEB_HOST/g" "./README.md"
            sed -i "s/__ENV__/$ENV/g" "./README.md"
        '';
      };
      onStart = {
        start-windows = ''
          echo -e "\033[1;33mStarting Docker...\033[0m"
          RAM=$(free -b | grep Mem | awk '{print $2}')  # Get total RAM in bytes
          RAM_GB=$((RAM / 1024 / 1024 / 1024))         # Convert to GB
          BUFFER_GB=4
          USABLE_RAM_GB=$((RAM_GB - BUFFER_GB))
          if [ $USABLE_RAM_GB -lt 1 ]; then
              echo "Not enough RAM available for Docker. Exiting."
              exit 1
          fi
          docker run \
          -it \
          --rm \
          --name windows \
          -p 8006:8006 \
          --device=/dev/kvm \
          --device=/dev/net/tun \
          --cap-add NET_ADMIN \
          -v ./windows:/storage \
          -v ./oem:/oem \
          -e RAM_SIZE="$USABLE_RAM_GB""G" \
          -e CPU_CORES=$(nproc) \
          -e USERNAME="Bill" \
          -e PASSWORD="BillGates123@" \
          --stop-timeout 120 dockurr/windows
        '';
        start-htop = ''htop'';
      };
    };
  };
}
